/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout__header{
  background-color: #348D45;
}

.mdl-mini-footer{
  padding: 8px 16px;
}

.angular-google-map-container { height: 1024px; }

.mdl-textfield__input{
  border-bottom: 1px solid #fff;
  width: 90%
}

.mdl-textfield__label{
  color: #fff;
  font-weight: lighter;
}

.mdl-textfield{
  color: #fff;
  width: 100%;
}

form{
  margin:0  6%;
  width: 65%;
  float: right;
}

.avatar{
  width: 40px;
  height: 40px;
  float: right;
  text-align: right;
}