<section class="map" ng-controller="MapCtrl">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" ng-click="updatePosition()" bounds="map.bounds">
		<ui-gmap-markers models="locations" coords="'self'" icon="icon">
			<ui-gmap-windows show="show" templateUrl="assets/templates/marker.html">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
		</ui-gmap-markers>
	</ui-gmap-google-map>
</section>